<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell (Continued)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>13:00</td>        <!-- time    -->
        <td>Managing Data with SQL</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>14:30</td>        <!-- time    -->
        <td>Afternoon Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>15:00</td>        <!-- time    -->
        <td>Managing Data with SQLl (Continued)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>16:00</td>        <!-- time    -->
        <td>Wrap-Up</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 10   -->
        <td>16:30</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>09:00</td>        <!-- time    -->
        <td>Version Control with Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00</td>        <!-- time    -->
        <td>Morning Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00</td>        <!-- time    -->
        <td>Introduction to R Coding</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>12:00</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>13:00</td>        <!-- time    -->
        <td>Control Flow and Plotting in R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>14:30</td>        <!-- time    -->
        <td>Afternoon Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>15:00</td>        <!-- time    -->
        <td>Functions, Writing Data, Data Manipulation in R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>16:00</td>        <!-- time    -->
        <td>Wrap-Up</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 10   -->
        <td>16:30</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
      <tr>
  <td>After finishing</td>
  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
</tr>
    </table>
  </div>
</div>


